.subtitle
  %b
    Home

#home_nav  
  - if user_signed_in?
    Signed in as
    = current_user.email
    %ul
      %li
        = link_to 'My Feed', my_feed_yammer_messages_path
      %li
        = link_to 'Private', private_yammer_messages_path
      %li
        = link_to 'Company Feed', company_feed_yammer_messages_path
      %li
        = link_to 'Groups', yammer_groups_path
      %li
        = link_to 'Users', yammer_users_path
      %li
        = link_to 'Authenticate Yammer', user_omniauth_authorize_path(:yammer)
      %li
        = link_to 'Sign out', destroy_user_session_path, :method => 'delete'
  - else
    %ul
      %li
        = link_to 'Sign in', new_user_session_path
      %li
        = link_to 'Sign up', new_user_registration_path

