!!!
%html
  %head
    %title jpyammer
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = yield :head
  %body
    .topbar
      = link_to image_tag('home.gif') + 'Home', root_url
    .container-fluid
      #contens_flash
        - if notice.present?
          %p
            = image_tag('info.gif') + notice
        - if alert.present?
          %p
            = image_tag('error.gif') + alert
      #contens_main
        = yield

